@media (prefers-reduced-motion: no-preference) {* {
  scroll-behavior: smooth;
}}

body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: 'Abel';font-size: 15px;
    margin: 0;
    font-size: 20px;
  }  
  
  header {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
  }

  #logo {
    padding-left: 10px;
    object-fit: cover;
  }
  
  h1 {
    color: #28272776;
    text-align: center
  }
  
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 20px;
    height: 100%;
    }

    nav > ul > li {
        color: #28272776;
        margin: 0 0.2rem;
        padding: 0.2rem;
        display: block;
      }
      
      li > a {
        color: inherit;
        text-decoration: none; 
      }
      
      nav > ul > li:hover { 
        text-decoration: none; 
        color: #000000;
        background-color: #c5c2c41f;
        cursor: pointer;
      }

      main { 
        padding-top: 70px;
      }
    
    section {
    margin-top: 0; 
    margin-right: auto;     
    margin-left: auto;
    margin-bottom: 10px;
    }

    #tribute-info {
      width: 80%;
      max-width: 800px;
    }

    h2 {
    border-bottom: 4px solid #dfdfe2;
    margin-top: 0;
    padding-top: 72px;
    }

    figure{
        text-align: center;
        overflow: hidden;
    }

    #image{
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    p {
        margin-top: 5px;
        padding-left: 15px;
        font-size: 20px;
      }

      #contact{
        font-size: 13px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      #tribute-info{
        text-align: justify;
      }

      .container {
        display: grid;
        align-items: center; 
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
       }
       
       img {
         max-width: 100%;
         max-height:100%;
         border-radius: 25px;
       }


       footer {
        background-color: #2a2a40;
        display: flex;
        justify-content: center;
      }
      
      footer, footer a {
        color: white;
      }
      
      address {
        text-align: center;
        padding: 5px;
      }

      .second{
        width: 100%;
        max-width: 1000px;
      }

      .gallery{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 50px 10px;
        margin: 0 auto;
        gap: 16px;
      }

      .gallery img{
        width: 100%;
        max-width: 350px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
      }

      .fold{
        flex-wrap: wrap;
      }

    
